<hr>
<div class="text-center">
    <h1>Colombia</h1>
    <img src="assets/img/atencion.PNG" class="img-fluid" alt="Responsive image">

</div>
<hr>
<div class="container-md">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Valle del Cauca</h5>
                <h2 class="card-text text-center">{{atencionValle}}</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title  text-center">Cali</h5>
                <h2 class="card-text  text-center">{{atencionCali}}</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Buenaventura</h5>
                <h2 class="card-text text-center">{{atencionBuenaventura}}</h2>
            </div>
        </div>
    </div>
    <hr>